.block {
    border: 1px solid;
    color: black;
    margin: 5px;
}

.clearfixe {
    clear: both;
}

.item {
    margin: 5px;
    background-color: black;
    width: 100px;
    height: 100px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.item-height {
    height: 205px;
}

.item-width {
    width: 200px;
}

.box {
    width: 420px;
}

.middle {
    margin-left: auto;
    margin-right: auto;
}

